@model PersonalBlog.Areas.Admin.Models.News
@using PersonalBlog.Helpers

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("Edit", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-row">
        <h4>News</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)





        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="col-md-4">

            <div class="form-group">
                <label class="control-label ">Publishing Date</label>
                @Html.TextBoxFor(model => model.PublishingDate, new { @class = "form-control", id = "datepicker", @type = "date" })
                @Html.ValidationMessageFor(model => model.PublishingDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">

            <div class="form-group">
                @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
                @Html.DropDownList("name", new SelectList(new List<object> { new { Text = "Select Category", value = "" }, new { Text = "News", value = "News" }, new { Text = "Event", value = "Event" }, new { Text = "SportNews", value = "SportNews" } }, "value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PublishingDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                <input type="file" name="AImage" class="form-control" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.shortDetail, new { @class = "col-md-2" })
                @Html.TextAreaFor(model => model.shortDetail, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.shortDetail, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        @Html.LabelFor(model => model.LongDescription, new { @class = "col-md-2" })

        <div class="col-md-12">
            <div class="form-group">
                @Html.CkeditorFor(m => m.LongDescription)
                @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", "null", new { @class = "btn btn-primary" })

            </div>
        </div>
    </div>
}

