@model PersonalBlog.Areas.Admin.Models.PersonalDetail

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create","Admin",FormMethod.Post,new {enctype= "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="row">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "" })

            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.ShortDetail, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.ShortDetail, new { htmlAttributes = new { @class = "form-control",id="inptxt",onkeyup= "return phonenumber()" } })
            @Html.ValidationMessageFor(model => model.ShortDetail, "", new { @class = "text-danger" })
            <span id="error" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.LongDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="file" class="form-control" name="files" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <center>
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </center>


        </div>
    </div>
</div>
}
<script type="text/javascript">
    function phonenumber(event)
    {
        var inputtxt = document.getElementById("inptxt").value;
        var phoneno = /^\d{10}$/;
        if (phoneno.test(inputtxt))
        {
            document.getElementById("error").innerHTML = "";
            return true;
        }
        else {
            document.getElementById("error").innerHTML = "phone number not valid";
            return false;
        }
    }

</script>

